# Ignore build directories
/target/
/bin/

# Ignore IDE settings
/.idea/
/.vscode/
/.classpath
/.settings/
/.project

# Ignore Maven dependencies
/.mvn/
/.m2/

# Ignore logs and temp files
*.log
*.tmp
